*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/background\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto';
    color: white;
      width: 100%;
    max-width: 1366px;
    height: 768px;
    margin: 0 auto;

    
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}

.picture{
    width: 53px;
    height: 40px;
    margin-top: 6px;
    margin-right: 10px;
    display: block;
    background-image: url("../img/logo\ 3\ .svg");
    
}

.logo:hover>.picture{
    background-image: url("../img/logo\ 2.png");
}
.logo:hover{
    color: rgba(242, 101, 34, 1);
}


.title-1{
    width: 140px;
    height: 30px;
    font-size: 29px;
    line-height: 29px;
}

.title-2{
    width: 135px;
    height: 21px;
    font-size: 18px;
    line-height: 18px;

}
.header-1{
    width: 800px;
    display: flex;
    justify-content: end;
}
.gmail:hover a{
    color: rgba(242, 101, 34, 1);
}
.number:hover a{
    color: rgba(242, 101, 34, 1);
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.gmail{
 margin-bottom: 20px;
}

img{
    width: 300px;
    height: 220px;
    padding: 0;
    
}


.box{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 ,1fr);
    gap: 60px;
    margin-top: 20px;
}
.image{
    position: relative;
    display: block;
     width: 300px;padding: 0;
    height: 220px;
    
    
  }
  .image-img{
   display: block;
   width: 100%;
   
   
  }
  .image-overlay{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 65px;
    background: rgba(242, 101, 34, 1);
   display: flex;
   align-items: center;
   opacity: 0;
   transition: opacity 0.25s;
   
  }
  
.image-overlay:hover{
    opacity: 1;
    
  }
.image-from{
    position: absolute;
      left: 0;
      top: 0;
      color: white;
      padding-left: 5px;
      padding-top: 5px;
      margin-bottom: 5px;
      font-size: 10px;
      line-height: 10px;
  }
  .image-price{
    color: aliceblue;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 400px;
    margin-left: 5px;
    padding-top: 5px;
    
  }
  .image-view{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 50px;
    color: white;
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
    padding-top: 20px;
  }
.image-view::after{
    content: '>';
    color: wheat;
    padding: 10px;
}
.image-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.image:hover .image-title{
    color:rgba(242, 101, 34, 1);
}
.image-title:hover .image{
    color:rgba(242, 101, 34, 1);
}
.image:hover .image-overlay{
    opacity: 1;
}
.footer{
    font-size: 12px;
    line-height: 12px;
    margin: 70px;
}
