html,
body {
    margin: 0;
    padding: 0%;
}

body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto'
}

.header-logotip {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: black;
    margin-bottom: 40px;
}

.color-blue {
    color: rgba(75, 202, 255, 1);
}

.navigator-background {
    background-color: #35444F;
    height: 75px;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    line-height: 75px;
}

.list-item1-link {
    color: white;
    font-size: 22px;
    line-height: 27px;
    padding-left: 48px;
    padding-right: 48px;

}

.list-item1>span {
    display: inline-block;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.list-item1:hover {
    background-color:
        rgba(34, 47, 58, 1);
}

aside {
    display: flex;
    width: 344px;
    height: 400px;
    float: left;
    border: 1px solid #000000;
    margin-top: 50px;
}

.aside-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    width: 344px;
}

.aside-item1-link{
    padding-left: 40px;
    color: rgba(72, 88, 99, 1); 
    font-size: 24px;
    line-height: 80px;
}
.aside-item1:hover{
    background-color: rgba(219, 219, 219, 1);
    padding-left: 38px;
}

.conteiner{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.main-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    border: 1px solid black;
    width: 885px;
    height: 529px;
}

.picture {
    width: 320px;
    height: 380px;
    background-size: cover;
}

.main-paragraph-1,
.main-paragraph-2 {
    padding: 0;
    width: 885px;
    height: 120px;
    margin-top: 37px;
}

.paragraph-1,
.paragraph-2 {
    width: 885px;
    height: 120px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 70px;
     background-color: rgba(99, 105, 110, 0.48);
     margin: 20px;
}
.footer-list, .copyright{
    display: flex;
    
}
.footer-item1, .copyright{  
    font-size: 28px;
    line-height: 28px;
    padding-left: 40px; 
}

.copyright{
    padding-right: 40px;
    padding-left: 70px;
}
.footer-item1-link{
    border-bottom: 2px solid transparent;
}

.footer-item1-link:hover{
    color: rgba(49, 129, 166, 1);
    border-bottom: 2px solid rgba(49, 129, 166, 1);
}

