 body{
    width: 1280px; 
    margin: 0 auto;
font-family: 'Montserrat';
}

.navbar{
    height: 100px;
    text-align: center;

}

.navbar-menu{
    display: flex;
    justify-content: center; 
    color: red;
    font-weight: 700;
     font-size: 18px; 
    height: 35px;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 2.7px;
    font-size: 20px;
    list-style: none; 
    padding: 25px;
   
    
}

.navbar-menu .item1 a{
    text-decoration: none;
    color: red;
    padding-right: 30px;
    padding-left: 30px;
}
 .main-section-1{
    margin-top: 30px;
    text-align: center;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;

} 
.title{
    display: block;
    font-style: normal;

}
.page-title-1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;

}
.box-1{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    height: 132px;

}
.section-paragraph-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    }
.main-section-2{
    margin-top: 30px;
    text-align: center;
    padding: 20px;
} 

.box-2{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    height: 132px;

}
.section-paragraph-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.box-3{
    display: block; 
     margin-top: 150px;
    text-align: center;
    width: 100%;
    height: 100px;

}
.button{
    display: inline-block;
    padding: 20px 80px;
    text-transform: uppercase;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    border: 2px solid;

}
.button a{
    text-decoration: none;
    color: white;
}
.footer{
    display: block;
    text-align: right;
    margin-right: 100px;
    margin-bottom: 30px;
}
.page-title-2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
align-items: center;
letter-spacing: 2.4px;
color: #373737;
} 
