*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
      background: url(../img/Фон\ 1.png) no-repeat center fixed; 
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      color: white;
      
}

.header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
}
.logo-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}
.title {
    margin-left: 80px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

}
.logo-right{
    display: flex;
    align-items: center;
    gap: 24px;
}
.svg-1,.svg-2,.svg-3{
    padding-left: 18px;
}

.svg-1:hover svg path,
.svg-2:hover svg path,
.svg-3:hover svg path{
    fill: rgba(1, 129, 63, 1);
}

.header a:hover{
    color: rgba(1, 129, 63, 1)
}

.logo-text{
    margin-right:  80px;
    font-size: 14px;
    line-height: 14px;
}
.white-line::before{
    content: '';
    display: block;
    background: white;
    width: 2px;
    height: 23px;
}
.conteiner{
    width: 444px;
    height: 584px;
    margin: 55px auto;
    background-color: white;
    padding: 0 60px ;
    position: relative;
}
.green-block{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;

}
.title-2{
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}
.sign{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.log{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
  
}
.log:hover{
    color: #01813F;
    text-decoration: underline;
}
.button{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 160px;
    height: 50px;
    background-color: #305DB8;
    color: #FFFFFF;
    border-radius: 3px;
    transition: 1s all;
}
.facebook:hover{
    background: rgba(2, 34, 99, 1);
}

.line::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background-color: #0A162F;

}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 160px;
    height: 50px;
    background-color: #DF4A32;
    color: #FFFFFF;
    border-radius: 3px;
    transition: 1s all;
}
.google:hover{
    background: rgba(171, 31, 9, 1)
}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(132, 132, 132, 1);
}
.h-line::before,
.h-line::after{
    content: '';
    height: 2px;
    width: 152px;
    background: #F2F2F2;
}

.login{
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    width: 324px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
    margin-top: 15px ;
    outline: none;
   
}
.login:focus{
    color: rgba(67, 67, 67, 1);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
}
.checkbox{
    position: relative;
    margin-top: 15px;
}

.checkbox-input{
    appearance: none;
    position: absolute;
}
.checkbox-label{
    padding-left: 30px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.checkbox-label::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.checkbox-label::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('../img/Vector\ 1.svg') no-repeat;
    opacity: 0;
    background-size: 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.checkbox-input:checked + .checkbox-label::after{
    opacity: 1;
}

.create{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 46px;
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    transition: 1s all;
}
.create:hover{
    background: #01813F;
    color: #FFFFFF;
}



