*{
    box-sizing: border-box; 
     margin: 0;
    padding: 0;
}
body {
    background-color: rgba(31, 31, 31, 1);
    color: white;
}
.conteiner{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    font-family: 'Gilam';

}
.header-1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 46px;
}

.button {
    color: rgba(228, 181, 100, 1);
    padding: 20px 40px 20px 40px;
    background-color: rgba(31, 31, 31, 1);
    border: 1px solid rgba(228, 181, 100, 1) ;
}


.button:hover {
    outline: 1px solid #505050;
    cursor: pointer;
  }

.title{
    display: flex;
    font-size: 50px;
    line-height: 28px;

}
section{
    padding-top: 128px;
    

}
.text{
    width: 1182px;
    height: 56px;
    font-size: 20px;
    line-height: 28px;
    padding-top: 40px;
   padding-bottom: 40px;
}
.wrapper-1{
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 200px);
    gap: 30px;
    margin-top: 40px;
}
.item-one{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height:25px
   

}
.item-1{
    grid-area: 1 / 1 / 3  / 3;
background-color: rgba(99, 79, 44, 1);
}
.item-2{
    grid-area: 1 / 3 / 3 / 5;
    background-color: rgba(180, 163, 133, 1);
}
.item-3{
    grid-area: 1 / 5 / 3 / 7;
    background-color:rgba(228, 181, 100, 1);
}
.item-4{
    grid-area: 3 / 1 / 5 / 4;
    background-color: rgba(99, 90, 74, 1);  
}
.item-5{
    grid-area: 3 / 4 / 5 / 7;
    background-color: rgba(176, 140, 77, 1);
}

.wrapper-2{
   
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(8, 100px);
    gap: 30px;
     margin-top: 40px;
    margin-bottom: 150px;
}
.item-two{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 20px;
    line-height: 25px;
}
.item-6{
    grid-area: 1 / 1 / 4 / 3;
    background-color: rgba(14, 14, 14, 1);
}
.item-7{
    grid-area: 1 / 3 / 5 / 5;
    background-color: rgba(36, 36, 36, 1);
 
}  

.item-8{
    grid-area: 1 / 5 / 3 / 7;
    background-color: rgb(24, 24, 24);
    

}
.item-9{ 
    grid-area: 4 / 1 / 9 / 3;
    background-color: rgb(24, 24, 24);
}
    
.item-10{
    grid-area: 5 / 3 / 9 / 5;
    background-color: rgba(228, 181, 100, 1);

}
.item-11{
    grid-area: 3 / 5 / 6 / 7;
    background-color: rgba(14, 14, 14, 1);
}
.item-12{
    grid-area: 6 / 5 / 9 / 7;
    background-color: rgba(10, 9, 9, 1);
}

.background{
    background-color: rgba(14, 14, 14, 1);
}

.conteiner-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-2{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    align-items: center;
    width: 1350px;
}
.wrapper-3{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(2, 300px);
    margin-top: 40px;
    margin-bottom: 40px;
}
.item-three{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}
.item-13,.item-14,.item-15,.item-16,.item-17,.item-18{
    display: flex;
      flex-direction: column;
}
.item-13{
 background-color: rgba(99, 79, 44, 1);
}

.item-14{
    background-color:rgba(232, 210, 171, 0.76);
}
.item-15{
    background-color: rgba(228, 181, 100, 1);
}
.item-16{
    background-color:  rgba(99, 90, 74, 1);
}
.item-17{
    background-color: rgba(176, 140, 77, 1);
}
.item-18{
    background-color: rgba(99, 79, 44, 1);
}

.item-13:hover .card,.item-14:hover .card,.item-15:hover .card,.item-16:hover .card,.item-17:hover .card,.item-18:hover .card{
    display: block;
}
.card{
    display: none;
}