body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
  }
  
  .main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }
  
  .section {
    transform-style: preserve-3d;
    position: relative;
    height: 80vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .no-parallax {
    background-color: #ffffff;
    z-index: 999;
  }
  
  .parallax::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    bottom: 0;
    left: -4px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(1.5);
    -moz-transform: translateZ(-1px) scale(1.5);
    -ms-transform: translateZ(-1px) scale(1.5);
    -o-transform: translateZ(-1px) scale(1.5);
  }
  
  .bg1::after {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../img/Background-1.png");
    background-size: cover;
  }
  
  .bg2::after {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url("../img/background-2.png");
    background-size: cover;
  }
  
  .bg3::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/Background-3.png");
    background-size: cover;
  }
  
  .triangle1 {
    border-style: solid;
    border-width: 85px 50vw 0 50vw;
    border-color: transparent #ffffff #ffffff #ffffff;
    margin-bottom: -0.8px;
  }
  
  .triangle2 {
    border-style: solid;
    border-width: 85px 50vw 0 50vw;
    border-color: #ffffff transparent transparent transparent;
    margin-top: -0.8px;
  }
  
  /* ==================================================
  Header styles */
  
  /* +++++
  Nav styles */
  
  .nav {
    margin-top: 30px;
    background: #ffffff;
    display: flex;
    justify-content: center;
  }
  
  .nav-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-logo {
    margin: 40px auto 40px 0;
  }
  
  .nav-logo > p {
    font-weight: 300;
    font-size: 36px;
    color: #424f57;
  }
  
  .nav-logo > p > span {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #14afca;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-around;
    width: 65%;
  }
  
  .nav-menu-item {
    flex-grow: 1;
    color: #3e4c4e;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  
  .nav-menu-item:hover {
    color: #14afca;
  }
  
  .nav-menu-item-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  /* +++++
  Header banner style */
  
  .header-banner {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-banner-text {
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.2em;
    max-width: 1000px;
  }
  
  /* ==================================================
  Info section styles */
  
  .info {
    min-height: 500px;
    max-height: 40vh;
  }
  
  .info-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 8% 0;
  }
  
  .info-header {
    font-weight: 700;
    font-size: 60px;
    color: #14afca;
    text-transform: uppercase;
  }
  
  .info-desc {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #424f57;
  }
  
  .info-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #424f57;
    text-align: center;
  }
  
  /* ==================================================
  Companies section styles */
  
  .companies-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 8% 0;
  }
  
  .companies-header {
    font-weight: 700;
    font-size: 60px;
    color: #14afca;
    text-transform: uppercase;
    text-align: center;
  }
  
  .companies-desc {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }
  
  .companies-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .companies-link {
    width: 23%;
    min-height: 200px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  
  .companies-link:hover {
    background-color: #424f57;
  }
  
  /* ==================================================
  Meet section styles */
  
  .meet {
    display: flex;
    flex-direction: column;
  }
  
  .meet-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .meet-header {
    font-weight: 700;
    font-size: 60px;
    color: #14afca;
    text-transform: uppercase;
  }
  
  .meet-desc {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #424f57;
  }
  
  .meet-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .meet-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .meet-card-header {
    font-size: 15px;
    text-align: center;
    color: #424f57;
  }
  
  /* ==================================================
  Testimonials section styles */
  
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .testimonials-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 8% 0;
  }
  
  .testimonials-header {
    font-weight: 700;
    font-size: 60px;
    color: #14afca;
    text-transform: uppercase;
  }
  
  .testimonials-desc {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
  }
  
  .testimonials-text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #d3cccc;
    text-align: center;
    font-style: italic;
    max-width: 70%;
  }
  
  .testimonials-text-author {
    align-self: flex-end;
    color: #ffffff;
    font-style: italic;
    padding-right: 25%;
  }
  
  /* ==================================================
  Keys section styles */
  
  .keys {
    height: 10vh;
    margin: auto;
  }
  
  .keys-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 4% 0 0;
  }
  
  .keys-header {
    font-weight: 700;
    font-size: 60px;
    color: #14afca;
    text-transform: uppercase;
  }
  
  .keys-desc {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: #424f57;
  }
  
  .keys-text {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #424f57;
    text-align: center;
    max-width: 70%;
  }
  
  /* ==================================================
  Footer section styles */
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto 5%;
  }
  
  .footer-text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #3d3c3c;
  }
  
  .footer-text > span {
    font-weight: 700;
    letter-spacing: 0.799999px;
  }